.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;

    &__content {
        padding: 5rem;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
            height: 4rem;
        }
    }
}
