@import '@docAi-app/styles/abstracts/_abstracts.scss';

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    .container {
        width: 80%;
        margin: auto;
        text-align: center;

        &__header {
        }

        &__title {
            font-size: 5rem;
            margin: 0;
        }

        &__body {
        }

        &__content {
            font-size: 2rem;
        }

        &__actionButton {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            
            button {
                font-size: 2rem;
                height: unset !important;
            }
        }
    }
}
