@import '@docAi-app/styles/abstracts/_abstracts.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    margin: auto;
    width: 100%;

    &__header {
        height: $headerHeight;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $black10;
        width: 100%;
        padding-inline: 2rem;
    }
    &__body {
        height: calc(100vh - $headerHeight);
        padding-top: 2rem;
        width: 100%;
    }
}
