@import '@docAi-app/styles/abstracts/_abstracts.scss';

.container {
   
    &__title{
        margin-bottom: 0;
        margin-left: 0.8rem;
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__userInfo {
        display: flex;
        align-items: center;
        width: 78%;
        margin-top: 2.5rem;
        gap: 1rem;
    }

    &__deleteBtn {
        margin-bottom: 2.5rem;
    }
    &__roleSelector {
        width: 20%;
    }
}

.actionButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 0.8rem);
    margin:2rem 0 0 0.8rem;
}
