.fileListContainer {
    overflow: auto;
    max-height: 24rem;
    padding-inline: 0 1rem;
    
    &__file {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
