.container {
}
.actionButton{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 2rem;
}

.formContainer{
    width: 40rem;
}

.microsoftLogin {
    width: 100%;
    margin-top: 2rem !important;
}
