$fontFamily: 'Inter', sans-serif;

//color variable
$primary: #753fea;
$primary5: #f8f5fe;
$primary10: #f1ecfd;
$primary20: #e3d9fb;
$primary40: #c8b2f7;
$primary60: #ac8cf2;
$primary80: #9165ee;

$secondary: #232528;
$secondary5: #f4f4f4;
$secondary10: #e9e9e9;
$secondary20: #d3d3d4;
$secondary40: #a7a8a9;
$secondary60: #7b7c7e;
$secondary80: #4f5153;

$error: #ff3434;
$black: #000000;
$black10: rgba(#000000, 0.1);
$white: #ffffff;

$mercury: #e8e6de;
$desertStorm: #f8f8f5;
$turquoise: #46daff;
$earthBlue: #000094;
$davyGrey: #565655;
$platinum: #e5e5e1;
$dawnPink: #ececec;
$artyClickCoolMagenta: #b900ff;
$artyClickCoolMagenta10: rgba(185, 0, 255, 0.1);
$mirage5: rgba(16, 24, 40, 0.05);
$cinder: #151515;
$cinder10: rgba(#151515, 0.1);
$seashell: #f1f1f1;

//screen size variable
$smallMobile: 'small-mobile';
$mediumMobile: 'medium-mobile';
$mobile: 'mobile';
$tablet: 'tablet';
$miniLaptop: 'mini-laptop';
$smallLaptop: 'small-laptop';
$mediumLaptop: 'medium-laptop';
